apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: mutli-ns-apps
spec:
  syncPolicy:
    preserveResourcesOnDeletion: true
  generators:
  - git:
      repoURL: git@github.com:c6h3un/argocd-demo-example.git
      revision: multi-apps
      directories:
      - path: 'ns1/*'
      - path: 'ns2/*'
      - path: base
        exclude: true
      - path: dev
        exclude: true
  template:
    metadata:
      name: 'app-{{path[0]}}-{{path[1]}}'
    spec:
      project: default
      source:
        repoURL: git@github.com:c6h3un/argocd-demo-example.git
        targetRevision: multi-apps
        path: '{{path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{path[0]}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: false
